.container {
  max-width: 80rem;
  margin: 5rem auto;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

div label {
  display: block;
  font-size: 1.6rem;
}

label {
  margin-bottom: 1rem;
}

textarea {
  width: 80%;
}

.button {
  margin-bottom: 1rem;
}
