.cardContainer {
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 0 3rem;
}

.card {
  cursor: pointer;
}

.button {
  padding-left: 3rem;
  margin: 1rem 0;
}
